<% var data = {
title: "Home page",
}; %>

<%= _.template(require('./../includes/page_top.html').default)(data) %>
<%= _.template(require('./../includes/headers/header.html').default)(data) %>

<section class="s-py-120">
    <div class="grid-container">
        <div class="grid-cols-md-2 gap-50">
            <div>
                <h2>Product List</h2>
                <div class="goods grid-cols-xl-2 gap-30"></div>
            </div>

            <div>
                <h2>Product Cart</h2>
                <div class="cart">
                    <h2 class="cart-count"></h2>
                    <div class="cart-wrap"></div>
                    <div class="cart-total"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<script class="templateGoodItem" type="text/template">
    <div data-available="${data.available}" class="good">
        <h3 class="good-name">${data.name}</h3>
        <p>Some short description</p>
        <div class="good-price-wrap">
            <span class="good-price">${data.price}</span>
            <button data-id="${data.id}" data-add-cart class="btn btn-maincolor">Add to card</button>
        </div>
    </div>
</script>
<script class="templateCartItem" type="text/template">
    <div class="cart-item" data-id="${data.id}" data-available="${data.available}">
        <div class="cart-item-top">
            <h5 class="cart-item-name">${data.name}</h5>
            <span class="cart-item-price">${data.price}</span>
        </div>
        <div class="cart-item-bottom">
            <button class="btn cart-item-minus">-</button>
            <span>${data.count}</span>
            <button class="btn cart-item-plus">+</button>
        </div>
    </div>
</script>
<%= _.template(require('./../includes/page_bottom.html').default)(data) %>