.cart{
   padding: 30px;
   border-radius: 5px;
   border: 1px solid $borderColor;

   &-item{
      border-bottom: 1px solid $borderColor;
      padding-bottom: 20px;
      margin-bottom: 20px;
   }

   &-item-top{
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &-item-name{
      margin-right: 10px;
   }
}